#security {
  border: round $primary;
}
#organization-view{
  border: round $primary;
}
#config-info{
  border: round $primary;
  height: auto;
}
#tree-view{
  border: round $primary;
}
#detail-view{
  border: round $primary;
}