#security-view {
  border: round $primary;
  height: 100%;
}
#organization-view{
  border: round $primary;
  width: 25;
}
#config-info{
  border: round $primary;
  height: auto;
}
#tree-view{
  border: round $primary;
  width: auto;
}
#detail-view{
  border: round $primary;
}
#connection-indicator{
  height: auto;
  width: auto;
}
#config-parameters{
  height: auto;
}
#user-input{
  height: auto;
}
#chat-container{
  height: auto;
}