#security {
  border: round $primary;
}
#organization-view{
  border: round $primary;
}
#config-info{
  border: round $primary;
  height: auto;
}
#tree-view{
  border: round $primary;
}
#detail-view{
  border: round $primary;
}
#connection-indicator{
  height: auto;
  width: auto;
}
#config-parameters{
  height: auto;
}